name: Project Quality Check

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Download Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Project
        run: |
          python -m pip install --upgrade pip
          # This installs your project AND all its requirements in one go
          pip install . 

      - name: Run Logic Tests
        # We run it via 'python -m pytest' to ensure it sees the installed 'kubecuro'
        run: python -m pytest tests/
