name: Project Quality Check

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Download Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Project & Testing Tools
        run: |
          python -m pip install --upgrade pip
          # 1. Force install the EXACT version you have locally
          pip install --upgrade --force-reinstall rich==14.2.0
          # 2. Install your project and pytest
          pip install .
          pip install pytest

      - name: Run Logic Tests
        run: |
          # This line will tell us EXACTLY what version is running and WHERE it is located
          python -m pip show rich
          python -m pytest tests/

      - name: Run Logic Tests
        # We use 'python -m pytest' to be safe
        run: python -m pytest tests/
